body {
    background: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/1C4BWK6SE4.jpg") fixed;
    background-size: cover;
    display: table;
/*    height: 800px;*/
    position: relative;
    width: 100%;
/*
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
*/
}

.event-type {
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
    color: #fff;
    text-shadow: 1px 1px black;
    opacity: .70;
}

.event-title {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color: black;
    margin-top: -20px;
}

.event-photo {
    height: 150px;
    width: auto;
}


#button-favorites {
    width: 220px;
    background-color: black;
    color: white;
    font-family: 'Amatic SC', cursive;
    bottom: 40px;
    position: absolute;
}

.panel-heading {
    height: auto;
}

.panel {
    height: 500px;
    opacity: .80;
}

#event-url {
    color: darkblue;
    bottom: 90px;
    position: absolute;
}


