    #navbar-collapse-main {
        font-size: 20px;
    }
    
    #main {
        opacity: .30;
        border-width: 0px;
        /*        background: 0;*/
    }
    
    a {
        font-size: 40px;
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
    }
    
    #name {
        font-size: 40px;
        font-family: 'Amatic SC', cursive;
        color: white;
    }
    
    body {
        background: url("https://images.unsplash.com/photo-1428988449731-1e5ccfb5b84f?crop=entropy&dpr=2&fit=crop&fm=jpg&h=675&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275") no-repeat center center fixed;
        height: auto;
        display: table;
        position: relative;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    h2 {
        text-align: center;
        padding-top: 40px;
        font-family: 'Amatic SC', cursive;
        font-size: 40px;
        color: ghostwhite;
    }
    
    hr {
        width: 30%;
    }